<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Items List</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container m-lg-5" style="width: 800px">
    <div class="card w-auto">
        <ul class="list-group list-group-flush">
            <th:block th:each="item : ${itemList}">
                <th:block th:replace="~{'todo.html'}" th:args="${item}"/>
            </th:block>
        </ul>
    </div>
    <hr>
    <div class="card w-auto">
        <div class="card-body">
            <form hx-post="/todos" th:object="${newTodo}" hx-target="ul" hx-swap="beforeend">
                <div class="form-group">
                    <label for="todo">Add New Item</label>
                    <input type="text" class="form-control" id="todo" name="description" placeholder="Add a new item..."
                           required>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>